body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no-margin, body {
    margin: 0;
}

.dot {
    height: 0.7em;
    width: 15px;
    background-color: #FCCF26;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 0.5%;
}

aside {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #FCCF26;
}

.margin-aside {
    margin: 10%;
    text-align: justify;
}

.center {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 75px;
}

figure>img {
    width: 175px;
    height: 215px;
    margin: -15px 0 0 0;
}

#main-page {
    flex-grow: 1;
    padding: 2% 5% 2% 5%;
}

header {
    display: flex;
    flex-direction: column;
}

header>p {
    margin: -2% 0% 3%;
}

h1>span {
    color: #FCCF26;
}

.underline {
    border-bottom: solid #FCCF26 2px;
}

.aside-title {
    background-color: black;
    color: #FCCF26;
    text-align: center;
    font-size: 20px;
    padding: 2%;
    margin: 0;
}

.rounded {
    border-radius: 50%;
}

#propos {
    flex-grow: 1;
}

#pictos>img {
    border: solid 2px black;
    margin-left: 4%;
    margin-right: 4%;
}

#pictos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8%;
}

.content-title {
    display: flex;
    flex-direction: row;
    border-bottom: solid #fccf26 2px;
    margin-top: 5%;
}

.content-title>img {
    width: 4%;
    height: 10%;
}

.content-title>h3 {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.content>img {
    height: 100%;
    margin-right: 2%;
    width: 15px
}

.content>p {
    width: 35%;
}

.content>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.content>.recommandations {
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.text-content>h5 {
    font-weight: normal;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-content>p {
    text-align: justify;
}

/************************************************/

@media screen and (min-width: 769px) {
    #container {
        display: flex;
        flex-direction: row;
    }
    aside{
        width: 90%;
    }
}

/*************************************************/

@media screen and (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
    }
    aside{
        width: 100%;
    }
}